<div class="header-top">
    <div class="wrap">
        <div class="logo">
            <a href="/"><img src="~/Content/images/logo.png" alt="" /></a>
        </div>
        <div class="cssmenu">
            <ul>

                <li><a href="/Home/Shop">Store Locator</a></li>

                @if (IdentityManagement.Utilities.Utils.IfUserAuthenticated())
                {
                    <li><a href="/Account/Logout">Logout</a></li>
                }
                else
                {
                    <li class="active"><a href="/Account/Register">Sign up & Save</a></li>
                    <li><a href="/Account/Login">Login</a></li>
                }

                @if (IdentityManagement.Utilities.Utils.IfUserInRole("Member"))
                {
                    <li><a href="/Account/Checkout">CheckOut</a></li>
                }

                @if (IdentityManagement.Utilities.Utils.IfUserInRole("Administrator"))
                {
                    <li><a href="/Admin/Index">Admin</a></li>
                }

            </ul>
        </div>
        <ul class="icon2 sub-icon2 profile_img">
            <li>
                <a class="active-icon c2" href="#"> </a>
                <ul class="sub-icon2 list">
                    <li><h3>Products</h3><a href=""></a></li>
                    <li><p>Lorem ipsum dolor sit amet, consectetuer  <a href="">adipiscing elit, sed diam</a></p></li>
                </ul>
            </li>
        </ul>
        <div class="clear"></div>
    </div>
</div>