@{ 
    var count = ViewData["totalItems"] != null ? (int)ViewData["totalItems"] : 0;

    var pagesize = ViewData["pageSize"] != null ? (int)ViewData["pageSize"] : 1;

    var noOfPage = count % pagesize != 0 ? Math.Abs(count / pagesize)  : (count / pagesize);

    var pageNum = ViewData["pageNum"] != null ? (int)ViewData["pageNum"] : 1;

    var category = ViewData["category"] != null ? ViewData["category"].ToString() : "";

    var type = ViewData["type"] != null ? ViewData["type"].ToString() : "";
}
<div class="mens-toolbar">
    <div class="sort">
        <div class="sort-by">
            <label>Sort By</label>
            <select>
                <option value="">
                    Popularity
                </option>
                <option value="">
                    Price : High to Low
                </option>
                <option value="">
                    Price : Low to High
                </option>
            </select>
            <a href=""><img src="~/Content/images/arrow2.gif" alt="" class="v-middle"></a>
        </div>
    </div>
    <div class="pager">
        <div class="limiter visible-desktop">
            <label>Show</label>
            <select id="page-select">
                <option value="9" @(pagesize == 9 ? "selected='selected'" : "")>
                    9
                </option>
                <option value="15" @(pagesize == 15 ? "selected='selected'" : "")>
                    15
                </option>
                <option value="30" @(pagesize == 30 ? "selected='selected'" : "")>
                    30
                </option>
            </select> per page
        </div>
        <ul class="dc_pagination dc_paginationA dc_paginationA06">
            <li><a href="#" class="previous">Pages</a></li>
            @for (int i = 1; i <= noOfPage; i++)
            {
                <li><a href="/Home/Shop?page=@i&pagesize=@pagesize&category=@category&Type=@type">@i</a></li>
            }

        </ul>
        <div class="clear"></div>
    </div>
    <div class="clear"></div>
</div>