<ul id="flexiselDemo3">
    <li><img src="~/Content/images/MensFootwear/Mens001.jpg" /><div class="grid-flex"><a href="#">Bloch</a><p>Rs 850</p></div></li>
    <li><img src="~/Content/images/MensFootwear/Mens010.jpg" /><div class="grid-flex"><a href="#">Capzio</a><p>Rs 850</p></div></li>
    <li><img src="~/Content/images/MensFootwear/Mens034.jpg" /><div class="grid-flex"><a href="#">Zumba</a><p>Rs 850</p></div></li>
    <li><img src="~/Content/images/WomenFootwear/Women018.jpg" /><div class="grid-flex"><a href="#">Bloch</a><p>Rs 850</p></div></li>
    <li><img src="~/Content/images/WomenFootwear/Women009.jpg" /><div class="grid-flex"><a href="#">Capzio</a><p>Rs 850</p></div></li>
</ul>