@model Footwear.Models.DashboardViewModel
@{
    ViewBag.Title = "Home Page";

    var counter = 0;
    var count = Model.DashboardItems.Count;
    var noOfRows = count % 3 != 0 ? Math.Abs(count / 3) + 1 : (count / 3);
}

@Html.Partial("_Slider", Model)

<div class="main">
    <div class="wrap">
        <div class="content-top">
            @Html.Partial("_DashboardSocial", Model)
            <div class="clear"></div>
        </div>
        <div class="content-bottom">

            @for (int i = 0; i < noOfRows; i++)
            {
                <div class="box1">
                    @for (int j = 0; j <= 2; j++)
                    {
                        @Html.Partial("_DashboardItem", Model.DashboardItems[counter])

                        counter++;
                    }
                    <div class="clear"></div>
                </div>
            }

        </div>
    </div>
</div>



@Scripts.Render("~/bundles/index")