@model int

@{ 

    var name = ViewData["Name"];
    var count = ViewData["Count"];
    var value = Model;
}

<span class="rating">

    @for (int i = 5; i > 0; i--)
    {
        <input type="radio" class="rating-input" id="@name-@i" name="@name">
        <label for="@name-@i" class="@(value <= i ? "rating-star1" : "rating-star")"></label>
    }
    &nbsp;
    (@count)
</span>